input {
  color: black;
}
#carrito {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 77px;
  right: 0;
  min-width: 500px;
  width: 30%;
  height: calc(100vh - 84px);
  margin-right: 5px;
  background-color: gray;
  transition: transform 200ms;
  z-index: 1000;
}
#carrito .carrito_header {
  height: 50px;
  position: relative;
  z-index: inherit;
}
.carrito_header .carrito_header-icon {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: none;
  border: none;
}
.carrito_header .carrito_header-icon svg {
  width: 100%;
  height: 100%;
}
#carrito .cart_products {
  overflow-y: scroll;
  flex: 1;
  padding: 0 25px 80px;
}
#carrito .cart_products::-webkit-scrollbar {
  display: none;
}
#carrito .cart_item {
  display: flex;
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 8px;
  gap: 16px;
  padding-right: 8px;
  justify-content: space-evenly;
  position: relative;
}
#carrito .item_image {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  aspect-ratio: 1/1;
}
#carrito .item_image img {
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}
#carrito .item_data {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px;
  margin-right: 8px;
}
#carrito .item_data .item_data-top {
  display: flex;
  width: 100%;
  align-items: center;
  padding-right: 20px;
}
#carrito .item_data .item_data-name {
  flex: 1;
}
#carrito .item_data .item_data-name .name {
  font-weight: bold;
}
#carrito .item_data .item_data-name .price {
  color: rgba(16, 16, 16, 0.5);
}
#carrito .item_data .item_data-name .discount {
  color: rgba(16, 16, 16, 0.2);
  text-decoration: line-through;
}
#carrito .item_data .item_data-delete {
  display: grid;
  place-items: center;
  background: none;
  border: none;
  outline: none;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
}
#carrito .item_data-delete:hover svg {
  color: red;
}
#carrito .item_data-delete svg {
  width: 80%;
  height: 80%;
  transition: color 100ms ease-out;
}
#carrito .item_data .item_data-bottom {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}
#carrito .item_data-bottom .item_total {
  margin-left: auto;
  font-weight: bold;
}
#carrito .item_data-quantity {
  display: flex;
  align-items: center;
  gap: 4px;
}
#carrito .item_data-quantity input,
#carrito .item_data-quantity button {
  text-align: center;
  display: grid;
  place-items: center;
  width: 25px;
  height: 25px;
  padding: 4px;
}
#carrito .item_data-quantity input {
  width: 30px;
  margin: 0 10px;
}
#carrito .item_data-quantity button svg {
  width: 100%;
  height: 100%;
}
#carrito .item_data-quantity button {
  border: none;
  outline: none;
  border-radius: 50%;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 1);
}
#carrito .carrito_bottom .carrito_bottom-btn {
  position: absolute;
  display: block;
  text-align: center;
  width: calc(100% - 50px);
  padding: 25px 0;
  left: 25px;
  bottom: 25px;
  background-color: red;
}
