.unknown_container {
  display: flex;
  justify-content: space-around;
  flex: 1;
  background-color: #b1edd4;
}
.account_container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 40vw;
  padding: 24px;
  gap: 16px;
  height: fit-content;
}
.account_info {
  display: flex;
  margin: 8px;
  gap: 16px;
}
.account_btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
.account_btn button {
  padding: 4px 8px;
}
.account_data {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 4px;
  justify-content: center;
}
.account_data div {
  display: flex;
  width: 100%;
}
.account_data label {
  width: 45%;
}
.account_data input,
.account_data select {
  flex: 1;
}
.account_data #promotions {
  margin-right: 4px;
}
.account_photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;
}
.account_photo img {
  min-width: 100px;
  width: 80%;
  max-width: 200px;
  aspect-ratio: 1/1;
}
.purchases_container {
  display: flex;
  flex-direction: column;
  width: 55vw;
  padding: 24px;
  gap: 16px;
}
.purchases_container .purchase_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}
.purchases_container .purchase_list_date {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid #000000;
}
.purchases_container .purchase_items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 8px;
}
.purchases_container .purchase_item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #eaeeef;
  border: 1px solid #000000;
}
.purchases_container .item_data {
  display: flex;
}
.purchases_container .purchase_item .data_img img {
  height: 160px;
  width: 160px;
  object-fit: cover;
  object-position: bottom;
}
.purchases_container .data_specs {
  padding: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.purchases_container .data_title {
  width: 100%;
  margin-bottom: 8px;
}
.purchases_container .data_title h5,
.purchases_container .data_title span,
.purchases_container .data_price {
  font-weight: bold;
  font-size: 0.9em;
}
.purchases_container .data_price {
  text-align: end;
}
.purchases_container .data_price span {
  font-weight: normal;
}
.purchases_container .purchase_item_total {
  padding-top: 8px;
  border-top: solid 1px #000000;
  display: flex;
  justify-content: right;
  width: 100%;
}
.purchases_container .purchase_item_total p {
  font-weight: bold;
}
.purchases_container .purchase_item_total span {
  font-weight: normal;
}
