/*  Carrusel Promociones  */
#carrousel_container {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#carrousel-wrapper {
  display: flex;
  transform: translateX(-100%);
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}
@keyframes moveImageLeft {
  100% {
    transform: translate(0);
  }
}
@keyframes moveImageRight {
  100% {
    transform: translate(-200%);
  }
}
#carrousel-wrapper img {
  width: 100%;
}
.carrousel-btn-left,
.carrousel-btn-right {
  position: absolute;
  background: none;
  background-color: #ffffff;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  place-items: center;
  padding: 8px;
  border-radius: 50%;
}
.carrousel-btn-left svg,
.carrousel-btn-right svg {
  stroke: black;
  width: 24px;
  height: 24px;
}
.carrousel-btn-left {
  left: 10px;
}
.carrousel-btn-right {
  right: 10px;
}
